extends /inc/foundation/_base.pug
block append config
  - current.id = "contact" // ページのID
  - current.title = "お問い合わせフォーム" // タイトル
  - current.description = `これは${current.title}についての説明文です` // 説明文
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header

  //- ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
  //- /confirm/ と /complete/ もCSS調整必須！
  //- ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
block body
  section.l-section.is-xlg.is-bottom.is-bg-color
    .l-container
      //- +c.form-head
        +e.block
          +h1.title お問い合わせ
          +e.list
            +e.item.is-current
              +e.item-number 1
              +e.item-text お客様情報入力
            +e.item
              +e.item-number 2
              +e.item-text 入力内容の確認
            +e.item
              +e.item-number 3
              +e.item-text 送信完了
      <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
      +c.forms
        +e.inner
          +h1.head お問い合わせ
          +e.text ご質問、ご相談はこちらのフォームからご連絡ください。
          +e.blocks
            +e.block
              +e.title チェックボックスA
              +e.content(data-bind="validationElement: checkboxA")
                +e.checkbox.is-border
                  span
                    label
                      input(type="checkbox", name="checkboxA", value="選択肢1", data-bind="checked: checkboxA1")
                      span 選択肢1
                  span
                    label
                      input(type="checkbox", name="checkboxA", value="選択肢2", data-bind="checked: checkboxA2")
                      span 選択肢2
                  span
                    label
                      input(type="checkbox", name="checkboxA", value="選択肢3", data-bind="checked: checkboxA3")
                      span 選択肢3
                  span
                    label
                      input(type="checkbox", name="checkboxA", value="選択肢4", data-bind="checked: checkboxA4")
                      span 選択肢4
                +e.error(data-bind="validationMessage: checkboxA")

            +e.block
              +e.title ラジオボタンA
              +e.content(data-bind="validationElement: ラジオボタンA", data-key="ラジオボタンA", class="is-validate")
                +e.radio.is-border
                  span
                    label
                      input(type="radio", name="ご希望のサービスA", value="選択肢1" data-bind="checked: ラジオボタンA")
                      span 選択肢1
                  span
                    label
                      input(type="radio", name="ご希望のサービスA", value="選択肢2" data-bind="checked: ラジオボタンA")
                      span 選択肢2
                  span
                    label
                      input(type="radio", name="ご希望のサービスA", value="選択肢3" data-bind="checked: ラジオボタンA")
                      span 選択肢3
                  span
                    label
                      input(type="radio", name="ご希望のサービスA", value="選択肢4" data-bind="checked: ラジオボタンA")
                      span 選択肢4
                +e.error(data-bind="validationMessage: ラジオボタンA")

            +e.block
              +e.title ご希望のサービス（テキストが長い場合）
              +e.content(data-bind="validationElement: checkboxB")
                +e.checkbox.is-border.is-vertical
                  span
                    label
                      input(type="checkbox", name="ご希望のサービス", value="選択肢1" data-bind="checked: checkboxB1")
                      span 選択肢1 長いテキスト長いテキスト長いテキスト長いテキスト長いテキスト
                  span
                    label
                      input(type="checkbox", name="ご希望のサービス", value="選択肢2" data-bind="checked: checkboxB2")
                      span 選択肢2 長いテキスト長いテキスト長いテキスト
                  span
                    label
                      input(type="checkbox", name="ご希望のサービス", value="選択肢3" data-bind="checked: checkboxB3")
                      span 選択肢3 長いテキスト
                  span
                    label
                      input(type="checkbox", name="ご希望のサービス", value="選択肢4" data-bind="checked: checkboxB4")
                      span 選択肢4 長いテキスト
                +e.error(data-bind="validationMessage: checkboxB")

            +e.block
              +e.title ラジオボタンB（ブラウザのデフォルトから変更したいとき）
              +e.content(data-bind="validationElement: ラジオボタンB", data-key="ラジオボタンB", class="is-validate")
                +e.radio.is-design.is-border
                  span
                    label
                      input(type="radio", name="ご希望のサービスB", value="選択肢1" data-bind="checked: ラジオボタンB")
                      span 選択肢1
                  span
                    label
                      input(type="radio", name="ご希望のサービスB", value="選択肢2" data-bind="checked: ラジオボタンB")
                      span 選択肢2
                +e.error(data-bind="validationMessage: ラジオボタンB")

            +e.block
              +e.title チェックボックス（ブラウザのデフォルトから変更したいとき）
              +e.content(data-bind="validationElement: checkboxC")
                +e.checkbox.is-design.is-border
                  span
                    label
                      input(type="checkbox", name="ご希望のサービス", value="選択肢1" data-bind="checked: checkboxC1")
                      span 選択肢1
                  span
                    label
                      input(type="checkbox", name="ご希望のサービス", value="選択肢2" data-bind="checked: checkboxC2")
                      span 選択肢2
                +e.error(data-bind="validationMessage: checkboxC")

            +e.block
              +e.title
                | お名前
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: お名前", data-key="お名前", class="is-validate")
                +e.input
                  input(type="text", name="お名前", placeholder="山田　太郎" data-bind="textInput: お名前")
                +e.error(data-bind="validationMessage: お名前")

            +e.block
              +e.title
                | 会社名
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: 会社名", data-key="会社名", class="is-validate")
                +e.input: input(type="text", name="会社名", placeholder="〇〇株式会社" data-bind="textinput: 会社名")
                +p.note: small ※個人の方は、「個人」とご入力ください
                +e.error(data-bind="validationMessage: 会社名")

            +e.block
              +e.title
                | メールアドレス
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: メールアドレス", data-key="メールアドレス", class="is-validate")
                +e.input: input(type="text", name="メールアドレス", placeholder="info@mail.jp" data-bind="textInput: メールアドレス")
                +e.error(data-bind="validationMessage: メールアドレス")

            +e.block
              +e.title
                | 電話番号
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: 電話番号", data-key="電話番号", class="is-validate")
                +e.input: input(type="text", name="TEL", placeholder="123-456-7890" data-bind="textInput: 電話番号")
                +e.error(data-bind="validationMessage: 電話番号")

            +e.block
              +e.title
                | 郵便番号
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: 郵便番号", data-key="郵便番号", class="is-validate")
                +e.flex-al
                  +e.input.is-sm: input(type="text", name="郵便番号", placeholder="0001234" data-bind="textInput: 郵便番号")
                  button(onclick="AjaxZip3.zip2addr('郵便番号','','ご住所','ご住所');", type="button").c-forms__button#zipauto 住所を自動入力
                +e.error(data-bind="validationMessage: 郵便番号")

            +e.block
              +e.title
                | ご住所
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: address", data-key="address", class="is-validate")
                +e.input: input(type="text", name="ご住所", placeholder="ご住所を入力してください" data-bind="textinput: address")#input-address
                +e.error(data-bind="validationMessage: address")

            +e.block
              +e.title
                | 部署名
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: 部署名", data-key="部署名", class="is-validate")
                +e.select
                  select(name="部署名" data-bind="options: 部署名")
                    option(disabled, selected) ー以下から選択してくださいー
                    option(value="選択肢A") 選択肢A
                    option(value="選択肢B") 選択肢B
                    option(value="選択肢C") 選択肢C
                +e.error(data-bind="validationMessage: 部署名")

            +e.block
              +e.title
                | 役職
                span.c-forms__label 必須
              +e.content(data-bind="validationElement: 役職", data-key="役職", class="is-validate")
                +e.select
                  select(name="役職" data-bind="options: 役職")
                    option(disabled, selected) ー以下から選択してくださいー
                    option(value="選択肢A") 選択肢A
                    option(value="選択肢B") 選択肢B
                    option(value="選択肢C") 選択肢C
                +e.error(data-bind="validationMessage: 役職")

            +e.block
              +e.title その他質問等
              +e.content(data-bind="validationElement: その他質問等", data-key="その他質問等", class="is-validate")
                +e.textarea
                  textarea(name="その他質問等", placeholder="" data-bind="textInput: その他質問等")
                +e.error(data-bind="validationMessage: その他質問等")

            +e.block
              +e.title
                | ファイルアップロード
              +e.content(data-bind="validationElement: ファイルアップロード", data-key="ファイルアップロード", class="is-validate")
                +e.file: input(type="file", name="ファイルアップロード" data-bind="textInput: ファイルアップロード")
                +e.error(data-bind="validationMessage: ファイルアップロード")

          +e.head --横並びパターン保存用--
          +e.blocks
            +e.block.is-horizontal
              +e.title
                | 横並びパターン
                span.c-forms__label 必須
              +e.content
                +e.input: input(type="text", name="横並びパターン", placeholder="〇〇株式会社")

            +e.block.is-horizontal
              +e.title.is-vertical-top
                | 横並び（タイトル上寄せ）
                span.c-forms__label 必須
              +e.content
                +e.input: input(type="text", name="横並び（タイトル上寄せ）", placeholder="〇〇株式会社")
                +p.note: small 補足のテキスト

            +e.block.is-horizontal
              +e.title.is-vertical-top
                | 住所
                span.c-forms__label 必須
              +e.content
                +e.flexbox
                  span 郵便番号
                  +e.flex-al
                    +e.input.is-sm: input(type="text", name="郵便番号", placeholder="（例）464-0850")
                    button(onclick="AjaxZip3.zip2addr('郵便番号','','ご住所','ご住所');", type="button").c-forms__button#zipauto 住所を自動入力
                +e.flexbox
                  span ご住所
                  +e.input: input(type="text", name="ご住所", placeholder="（例）愛知県名古屋市千種区今池3丁目12-20 KAビル 6F")


          +e.privacy(data-bind="validationElement: privacy", data-key="privacy", class="is-validate")
            label
              input(type="checkbox", name="「個人情報保護の取り扱いに関するご確認」を確認する", value="確認しました" data-bind="checked: privacy")
              +a("/privacy-policy/")(target="_blank") 個人情報保護方針
              | の内容に同意する
            +e.error(data-bind="validationMessage: privacy")

          +e.submit(data-bind="click: submit")
            button(id="submit").c-button.is-xlg 確認画面へ
            //- button.c-button.c-forms__submit__back.is-lg.is-secondary.is-arrow-left 戻る
            //- button.c-button.c-forms__submit__submit.is-lg 送信する


      //- ここからknockout.js（バリデーション）
      <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js"></script>
      script.
        function knockoutValidate() {
          const self = this;

          // 共通バリデーション定義
          const commonValidation = {
            required: {
              message: 'この必須項目を入力してください。',
            },
          };

          const validationClass = document.querySelectorAll('.is-validate');
          validationClass.forEach(element => {
            const key = element.getAttribute('data-key');
            self[key] = ko.observable().extend({ ...commonValidation });

            //- // focusout時のバリデーションチェック
            //- element.addEventListener("focusout", (event) => {
            //-   if(self[key]()) {

            //-   }
            //- });
          });

          //- chackboxがあるだけ以下に追加　（命名ルール：checkbox【親】【子番号（連番）】）
          const checkboxGroups = {
            A: createCheckboxGroup(4),
            B: createCheckboxGroup(4),
            C: createCheckboxGroup(2)
          };


          //- 電話番号のバリデーション
          self.電話番号 = ko.observable().extend({
            ...commonValidation,
            pattern: {
              message: '半角数字と + - ( ) のみ利用できます。',
              params: /^[0-9()+-]+$/
            }
          });

          //- メールアドレスのバリデーション
          self.メールアドレス = ko.observable().extend({
            ...commonValidation,
            email: {
              message: 'メールアドレスの形式が正しくありません'
            }
          });

          //- プライバシーポリシーのバリデーション
          self.privacy = ko.observable().extend({
            validation: {
              validator: function (val) {
                return val;
              },
              message: commonValidation.required.message
            }
          });

          //- 住所自動入力(ajaxzip3)対応
          const zipButton = document.getElementById("zipauto");
          const input = document.getElementById("input-address");
          zipButton.addEventListener('click', () => {
            AjaxZip3.onSuccess = () => {
              self.address(input.value);
              input.dispatchEvent(new Event('input'));
            };
          });

          //- submit（入力事項に問題がないか一括チェック）
          self.submit = function() {
            if(!ko.validatedObservable(self).isValid()) {
              ko.validatedObservable(self).errors.showAllMessages();
            }
          };


          //- チェックボックス処理
          function createCheckboxGroup(size) {
            const checkboxes = Array.from({ length: size }, (_, index) => {
              return ko.observable(false).extend({...commonValidation});
            });
            const isValid = ko.computed(function() {
              return checkboxes.some(checkbox => checkbox());
            }).extend({
              validation: {
                validator: val => val,
                message: commonValidation.required.message
              }
            });
            return { checkboxes, isValid };
          }
          Object.keys(checkboxGroups).forEach(key => {
            const checkboxes = checkboxGroups[key].checkboxes;
            const isValid = checkboxGroups[key].isValid;
            for (let i = 0; i < checkboxes.length; i++) {
              self[`checkbox${key}${i + 1}`] = checkboxes[i];
            }
            self[`checkbox${key}`] = isValid;
          });


        }

        ko.validation.init({
          insertMessages: false,
          errorElementClass: 'is-error'
        });

        const viewModel = new knockoutValidate();
        ko.applyBindings(viewModel);
