//- アコーディオン
//- Use Case
//- +accordion-list([
//-   {title:String, content:String, defaultOpen: Boolean | null, responsive: Number | null, className: String | null}
//- ])

mixin accordion-list(data)
  .c-accordion&attributes(attributes)
    each item in data
      details.c-accordion__block.js-accordion(class=item.className ? item.className : "", open=item.defaultOpen? "open":false, data-accordion-responsive=item.responsive ? item.responsive : false)
        summary.c-accordion__title(data-accordion-title="title")
          span.c-accordion__title-icon Q
          |!{item.title}
        .c-accordion__content-wrapper(data-accordion-content="content")
          .c-accordion__content
            span.c-accordion__content-icon A
            .c-accordion__content-inner
              |!{item.content}

