//- フォーム関連：未完成（2026年3月時点）
//-
mixin input(name,type,attrs)
  input(name=name,type=type).c-form-block__input&attributes(attrs)

//- セレクトボックス
mixin select(name,options,attrs)
  select(name=name).c-form-block__select&attributes(attrs)
    if options
      each option in options
        option(value=option.value)= option.text
    else
      block

//- ラジオボタン
mixin radio(name,options,attrs)
  div(name=name).c-form-block__radio&attributes(attrs)
    if options
      each option in options
        - var id = "radio_"+option.value;
        label(for=id)
          input(name=name,type="radio",value=option.value,id=id)
          span= option.label
    else
      block

//- チェックボックス
mixin checkbox(name,options,attrs)
  div(name=name).c-form-block__checkbox&attributes(attrs)
    if options
      each option in options
        label(for="checkbox_" + option.value)
          input(name=name,type="checkbox",value=option.value)
          span= option.label
    else
      block

//- テキストボックス
mixin textarea(name,row)
  textarea(name=name,row!=row)
    block

