mixin heading-xlg(lg, sm)
  .c-heading.is-xlg&attributes(attributes)
    if !sm
      | !{lg}
    else
      span.is-eng !{sm}
      b.is-ja !{lg}


mixin heading-lg(lg, sm)
  .c-heading.is-lg&attributes(attributes)
    if !sm
      | !{lg}
    else
      span.is-eng !{sm}
      b.is-ja !{lg}

mixin heading-md(lg, sm)
  .c-heading.is-md&attributes(attributes)
    if !sm
      | !{lg}
    else
      span.is-eng !{sm}
      b.is-ja !{lg}
