mixin heading-xlg(tag,lg)
  #{tag}.c-heading.is-xlg&attributes(attributes)
      | !{lg}



mixin heading-lg(tag, lg)
  #{tag}.c-heading.is-lg&attributes(attributes)
      | !{lg}

mixin heading-md(tag, lg)
  #{tag}.c-heading.is-md&attributes(attributes)
      | !{lg}
