//- img タグ
mixin img(file,alt,width,height)
  -
    if ( typeof alt === "undefined" ){
    var alt = ""
    }
  img(src=config.rootpath + "/assets/images/" + file, alt!=alt, width!=width, height!=height)&attributes(attributes)

//- video タグ
mixin video(file)
  video(src=config.rootpath + "/assets/files/" + file)&attributes(attributes)

//- 背景画像
mixin bgimg(file)
  div(style="background-image: url(" + config.rootpath + "/assets/images/" + file + ")")&attributes(attributes)
    block

//- ループ
//- +loop(10)
//-   p ここにループするコンテンツ
mixin loop(count)
  - var n = 0
  while n < count
    block
    - n++



//- 投稿ページナビゲーション
mixin c_post_nav(listID)
  -
    if (typeof listID === "undefined") {
      var listID = "news"
    }
    var path = config.rootpath + "/" + listID + "/";
  nav.c-post-navs
    ul
      li.c-post-navs__prev: +a(path +"page/").c-button.is-sm.is-arrow-left 前の記事へ
      li.c-post-navs__archive: +a(path).c-button.is-sm <span class="material-icons-outlined">list</span>記事一覧へ
      li.c-post-navs__next: +a(path+"page/").c-button.is-sm 次の記事へ

//- table row
mixin tr(th, td)
  tr&attributes(attributes)
    th!= th
    td!= td

mixin c_relation(title,...data)
  +c.relation
    .l-container
      +e.title.c-heading.is-sm.is-center !{title}
      +e.buttons
        each itemData in data
          +e.button: +a(itemData.link).c-button.is-xlg.is-primary.js-current-nav !{itemData.title}

mixin c_anchor-nav(style,...data)
  +c.anchor-nav(class=style)
    +e.buttons
      each itemData in data
        +e.button: +a(itemData.link).c-button.is-nav.js-anchor !{itemData.title}

mixin c_news__block(data)
  if data == "home"
    +a("/news/category/page/").c-news__block
      +e.date 2018.10.10
      +e.label.c-label.is-white カテゴリ
      +e.text お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。
  else if data == "is-news"
    +ae("/news/category/page/").block
      +e.date 2022.01.01
      +e.label.c-label.is-white カテゴリ
      +e.inner
        +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        +e.excerpt 本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います…[続きを見る]
  else if data == "is-result"
    +ae("/news/category/page/").block
      +e.label.c-label お知らせ
      +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    +ae("/contact/").block
      +e.label.c-label お問い合わせ
      +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    +loop(8)
      +ae("#").block
        +e.label.c-label ページ
        +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

mixin select-prefectures()
  select(name="都道府県")
    option(disabled,selected) 選択してください
    <option value="北海道">北海道</option>
    <option value="青森県">青森県</option>
    <option value="岩手県">岩手県</option>
    <option value="宮城県">宮城県</option>
    <option value="秋田県">秋田県</option>
    <option value="山形県">山形県</option>
    <option value="福島県">福島県</option>
    <option value="茨城県">茨城県</option>
    <option value="栃木県">栃木県</option>
    <option value="群馬県">群馬県</option>
    <option value="埼玉県">埼玉県</option>
    <option value="千葉県">千葉県</option>
    <option value="東京都">東京都</option>
    <option value="神奈川県">神奈川県</option>
    <option value="新潟県">新潟県</option>
    <option value="富山県">富山県</option>
    <option value="石川県">石川県</option>
    <option value="福井県">福井県</option>
    <option value="山梨県">山梨県</option>
    <option value="長野県">長野県</option>
    <option value="岐阜県">岐阜県</option>
    <option value="静岡県">静岡県</option>
    <option value="愛知県">愛知県</option>
    <option value="三重県">三重県</option>
    <option value="滋賀県">滋賀県</option>
    <option value="京都府">京都府</option>
    <option value="大阪府">大阪府</option>
    <option value="兵庫県">兵庫県</option>
    <option value="奈良県">奈良県</option>
    <option value="和歌山県">和歌山県</option>
    <option value="鳥取県">鳥取県</option>
    <option value="島根県">島根県</option>
    <option value="岡山県">岡山県</option>
    <option value="広島県">広島県</option>
    <option value="山口県">山口県</option>
    <option value="徳島県">徳島県</option>
    <option value="香川県">香川県</option>
    <option value="愛媛県">愛媛県</option>
    <option value="高知県">高知県</option>
    <option value="福岡県">福岡県</option>
    <option value="佐賀県">佐賀県</option>
    <option value="長崎県">長崎県</option>
    <option value="熊本県">熊本県</option>
    <option value="大分県">大分県</option>
    <option value="宮崎県">宮崎県</option>
    <option value="鹿児島県">鹿児島県</option>
    <option value="沖縄県">沖縄県</option>

mixin select-ages()
  select(name="年齢")
    option(disabled,selected) 選択してください
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    <option value="32">32</option>
    <option value="33">33</option>
    <option value="34">34</option>
    <option value="35">35</option>
    <option value="36">36</option>
    <option value="37">37</option>
    <option value="38">38</option>
    <option value="39">39</option>
    <option value="40">40</option>
    <option value="41">41</option>
    <option value="42">42</option>
    <option value="43">43</option>
    <option value="44">44</option>
    <option value="45">45</option>
    <option value="46">46</option>
    <option value="47">47</option>
    <option value="48">48</option>
    <option value="49">49</option>
    <option value="50">50</option>
    <option value="51">51</option>
    <option value="52">52</option>
    <option value="53">53</option>
    <option value="54">54</option>
    <option value="55">55</option>
    <option value="56">56</option>
    <option value="57">57</option>
    <option value="58">58</option>
    <option value="59">59</option>
    <option value="60">60</option>
    <option value="61">61</option>
    <option value="62">62</option>
    <option value="63">63</option>
    <option value="64">64</option>
    <option value="65">65</option>
    <option value="66">66</option>
    <option value="67">67</option>
    <option value="68">68</option>
    <option value="69">69</option>
    <option value="70">70</option>
    <option value="71">71</option>
    <option value="72">72</option>
    <option value="73">73</option>
    <option value="74">74</option>
    <option value="75">75</option>
    <option value="76">76</option>
    <option value="77">77</option>
    <option value="78">78</option>
    <option value="79">79</option>
    <option value="80">80</option>
    <option value="81">81</option>
    <option value="82">82</option>
    <option value="83">83</option>
    <option value="84">84</option>
    <option value="85">85</option>
    <option value="86">86</option>
    <option value="87">87</option>
    <option value="88">88</option>
    <option value="89">89</option>
    <option value="90">90</option>
    <option value="91">91</option>
    <option value="92">92</option>
    <option value="93">93</option>
    <option value="94">94</option>
    <option value="95">95</option>
    <option value="96">96</option>
    <option value="97">97</option>
    <option value="98">98</option>
    <option value="99">99</option>
  |　歳

mixin c_cookie
  +c.block-cookie.js-cookie#cookie
    .l-container
      +e.inner
        +e("p").text
          | 本ウェブサイトでは、お客様の利便性の向上及びサービスの品質維持・向上を目的として、Cookieを使用しています。<br />
          | 本ウェブサイトの閲覧を続行した場合は、Cookieの使用に同意したものとします。
        +e.button: +a("#")#wt-cli-accept-all-btn 同意する

mixin link(href)
  link(href=config.rootpath + href)&attributes(attributes)

mixin script(src)
  script(src=config.rootpath + src)&attributes(attributes)

mixin c_block-hospital(data)
  +c.block-hospital
    +e.H3.title
      b !{data.title}
      span (!{data.number}施設)
    +e.list
      if (data.title == "北海道")
        +c_block-hospital-item([
          {
            title: "社会医療法人 恵佑会第２病院",
            labels: ["N-NOSE", "plus すい臓","plus 肝臓","健診 / 人間ドックオプション"],
            address: '〒003-0027<br>北海道 札幌市白石区本通13丁目北7-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%81%B5%E4%BD%91%E4%BC%9A+%E7%AC%AC2%E7%97%85%E9%99%A2/@43.0411998,141.4267072,17z/data=!3m1!4b1!4m6!3m5!1s0x5f0b2b9f556c2df5:0x48e74ac12145d2a8!8m2!3d43.0411998!4d141.4267072!16s%2Fg%2F1hf2v3_b2?entry=ttu",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.keiyukai2.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "青森県")
        +c_block-hospital-item([
          {
            title: "医療法人弘愛会 弘愛会病院",
            labels: ["N-NOSE"],
            address: '〒036-8051<br>青森県 弘前市宮川3丁目1-4',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA%E5%BC%98%E6%84%9B%E4%BC%9A+%E5%BC%98%E6%84%9B%E4%BC%9A%E7%97%85%E9%99%A2/@40.615128,140.4825371,17z/data=!4m6!3m5!1s0x5f9b01a381402485:0xcd28ed0681b3dbb7!8m2!3d40.615124!4d140.485112!16s%2Fg%2F1tnl16rv?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.kouaikai.com/hp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "石川県")
        +c_block-hospital-item([
          {
            title: "医療法人社団和楽仁 芳珠記念病院",
            labels: ["N-NOSE"],
            address: '〒923-1226<br>石川県 能美市緑が丘11丁目71番地',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E8%8A%B3%E7%8F%A0%E8%A8%98%E5%BF%B5%E7%97%85%E9%99%A2/@36.4420778,136.5307262,16.25z/data=!3m1!5s0x5ff84efb66a13135:0x6f6e127900a0e7b3!4m6!3m5!1s0x5ff84efb67e5fbcb:0x9ea17e2e24219dbf!8m2!3d36.442155!4d136.536027!15sChLoirPnj6DoqJjlv7Xnl4XpmaKSARBnZW5lcmFsX2hvc3BpdGFs4AEA?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.houju.or.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])

      if (data.title == "静岡県")
        +c_block-hospital-item([
          {
            title: "医療法人社団雄健会 宮下医院 健診ステーション",
            labels: ["N-NOSE"],
            address: '〒416-0913<br>静岡県 富士市平垣本町4-1 宮下医院3階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%EF%BC%88%E5%8C%BB%EF%BC%89%E9%9B%84%E5%81%A5%E4%BC%9A+%E5%AE%AE%E4%B8%8B%E5%8C%BB%E9%99%A2/@35.1556344,138.6472322,17z/data=!3m1!4b1!4m6!3m5!1s0x601a2b4d67e3e021:0x2c8f52c0562495ad!8m2!3d35.15563!4d138.6498071!16s%2Fg%2F1w6_nwx2?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.miyashitaiin-kenshin.com/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "愛知県")
        +c_block-hospital-item([
          {
            title: "医療法人秀麗会 山尾病院",
            labels: ["N-NOSE"],
            address: '〒445-0853<br>愛知県 西尾市桜木町五丁目14番地',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%B1%B1%E5%B0%BE%E7%97%85%E9%99%A2/@34.8627857,137.0524291,17z/data=!3m1!4b1!4m6!3m5!1s0x60049135b5a3a3f9:0x668ed65e961e5bc1!8m2!3d34.8627813!4d137.055004!16s%2Fg%2F1tdw_h1s?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.yamaohospital.or.jp/index.html",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人優 あさひ内科",
            labels: ["N-NOSE"],
            address: '〒488-0043<br>愛知県 尾張旭市北本地ヶ原町3丁目125',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%82%E3%81%95%E3%81%B2%E5%86%85%E7%A7%91/@35.2003584,137.0375925,17z/data=!3m1!4b1!4m5!3m4!1s0x60036f5e0df97d7d:0x575bab784832611c!8m2!3d35.200354!4d137.0397812?hl=ja&coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.asahi-naika.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人陽和会 春日井リハビリテーション病院・附属クリニック",
            labels: ["N-NOSE"],
            address: '〒480-0304<br>愛知県 春日井市神屋町706番地',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%98%A5%E6%97%A5%E4%BA%95%E3%83%AA%E3%83%8F%E3%83%93%E3%83%AA%E3%83%86%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E7%97%85%E9%99%A2+%E9%99%84%E5%B1%9E%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.3054601,137.0299245,17z/data=!4m7!3m6!1s0x60036cf12f459883:0x413eebd80fec1245!8m2!3d35.3056456!4d137.0319512!15sCkLmmKXml6XkupXjg6rjg4_jg5Pjg6rjg4bjg7zjgrfjg6fjg7Pnl4XpmaLjg7vpmYTlsZ7jgq_jg6rjg4vjg4Pjgq-SAQ5tZWRpY2FsX2NsaW5pY-ABAA!16s%2Fg%2F11jb8bl_kw?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.kreh.or.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "一般財団法人 公衆保健協会",
            labels: ["N-NOSE"],
            address: '〒453-0804<br>愛知県 名古屋市中村区黄金通二丁目45番2',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E4%B8%80%E8%88%AC%E8%B2%A1%E5%9B%A3%E6%B3%95%E4%BA%BA%E5%85%AC%E8%A1%86%E4%BF%9D%E5%81%A5%E5%8D%94%E4%BC%9A/@35.1644013,136.8668209,17z/data=!4m7!3m6!1s0x600376fb08f25871:0xaa5640d21b05ed76!8m2!3d35.1644013!4d136.8715845!15sCiXkuIDoiKzosqHlm6Pms5Xkurog5YWs6KGG5L-d5YGl5Y2U5LyakgEKZm91bmRhdGlvbuABAA!16s%2Fg%2F11b7qvksl7?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.hoken-k.or.jp/",
                icon: '&#xe89e'
              }
            ]
          },
        ])
      if (data.title == "栃木県")
        +c_block-hospital-item([
          {
            title: "社会医療法人 中山会 宇都宮記念病院",
            labels: ["N-NOSE"],
            address: '〒320-0811<br>栃木県 宇都宮市大通り1-3-16',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%AE%87%E9%83%BD%E5%AE%AE%E8%A8%98%E5%BF%B5%E7%97%85%E9%99%A2/@36.5606142,139.8888158,17z/data=!3m2!4b1!5s0x601f67a19a78de79:0x389e75bfe875294b!4m6!3m5!1s0x601f67a19107f92f:0xc20eeacb688a67fb!8m2!3d36.5606099!4d139.8913907!16s%2Fg%2F11b6v8ft8v?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://nakayamakai.com/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "群馬県")
        +c_block-hospital-item([
          {
            title: "医療法人石井会 石井病院",
            labels: ["N-NOSE"],
            address: '〒372-0001<br>群馬県 伊勢崎市波志江町1152',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA%E7%9F%B3%E4%BA%95%E4%BC%9A+%E7%9F%B3%E4%BA%95%E7%97%85%E9%99%A2/@36.339344,139.183368,15z/data=!4m6!3m5!1s0x601eef40a47e9811:0x4bc699f0311c023f!8m2!3d36.339344!4d139.183368!16s%2Fg%2F1tj4bkpw?ll=36.339344,139.183368&z=15&t=m&hl=ja&gl=JP&mapclient=embed&cid=5460220855128425023&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.ishii.or.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "埼玉県")
        +c_block-hospital-item([
          {
            title: "医療法人社団 清幸会 行田中央総合病院",
            labels: ["N-NOSE"],
            address: '〒361-0021<br>埼玉県 行田市富士見町2-17-17',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%A1%8C%E7%94%B0%E4%B8%AD%E5%A4%AE%E7%B7%8F%E5%90%88%E7%97%85%E9%99%A2/@36.1479504,139.4727334,17z/data=!3m1!4b1!4m5!3m4!1s0x601f2c25b840a19b:0x131e74fde30d24df!8m2!3d36.1479461!4d139.4749221?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://gcgh.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団和風会 所沢中央病院健診クリニック",
            labels: ["N-NOSE"],
            address: '〒359-1131<br>埼玉県 所沢市久米551-3東亜東口ビルディング3F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%89%80%E6%B2%A2%E4%B8%AD%E5%A4%AE%E7%97%85%E9%99%A2%E5%81%A5%E8%A8%BA%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.7844268,139.4727377,17z/data=!3m2!4b1!5s0x6018e7637bd22e2b:0x515dba668075e1e8!4m5!3m4!1s0x6018e76379e1c641:0xfd6cbd6758ef52d7!8m2!3d35.7844225!4d139.4749264?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://wafukai.or.jp/tchmdchk/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "千葉県")
        +c_block-hospital-item([
          {
            title: "社会医療法人社団菊田会 習志野第一病院",
            labels: ["N-NOSE"],
            address: '〒275-0016<br>千葉県 習志野市津田沼5-5-25',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E7%BF%92%E5%BF%97%E9%87%8E%E7%AC%AC%E4%B8%80%E7%97%85%E9%99%A2/@35.6812249,140.0227677,17z/data=!3m1!4b1!4m6!3m5!1s0x6022802cf68f8d0b:0xa4ed3f1ac4a8999f!8m2!3d35.6812206!4d140.0253426!16s%2Fg%2F1vk6zbf4?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.naraichi.or.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団 響心会 稲毛駅前ホームクリニック",
            labels: ["N-NOSE"],
            address: '〒263-0043<br>千葉県千葉市稲毛区小仲台1丁目4-20イオン稲毛店1階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E7%A8%B2%E6%AF%9B%E9%A7%85%E5%89%8D%E3%83%9B%E3%83%BC%E3%83%A0%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6366795,140.0927293,17z/data=!3m2!4b1!5s0x60228383dd6528dd:0xa92d44c0567318ab!4m5!3m4!1s0x60228383e96b83f9:0x9291c724a80468f9!8m2!3d35.6366752!4d140.094918?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://kyoshinkai.clinic/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団明康会 かない内科",
            labels: ["N-NOSE"],
            address: '〒266-0031<br>千葉県千葉市緑区おゆみ野3-22-6',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%8B%E3%81%AA%E3%81%84%E5%86%85%E7%A7%91/@35.5622692,140.1737022,17z/data=!3m2!4b1!5s0x60229a05bb6f762d:0xc5bfb712783bf9f9!4m6!3m5!1s0x60229a05bb6bf78b:0x827bceb33b23c79a!8m2!3d35.5622649!4d140.1762771!16s%2Fg%2F1thcsgdl?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://kanai-naika.clinic/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団創造会 平和台病院",
            labels: ["N-NOSE"],
            address: '〒270-1101<br>千葉県 我孫子市布佐834-28',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%B9%B3%E5%92%8C%E5%8F%B0%E7%97%85%E9%99%A2/@35.8631364,139.9752757,12z/data=!3m1!5s0x60227a33418eb3c3:0x6b8af3f0773d6ac2!4m7!3m6!1s0x60227a3366774507:0xec5a56d87ae89376!8m2!3d35.8631364!4d140.1153514!15sCg_lubPlkozlj7Dnl4XpmaJaEiIQ5bmz5ZKM5Y-wIOeXhemZopIBEGdlbmVyYWxfaG9zcGl0YWyaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTlhiWFUzWkRGM1JSQULgAQA!16s%2Fg%2F1tr9njmk?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.sozokai-pmc.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団大昴会 大和田ファミリークリニック",
            labels: ["N-NOSE"],
            address: '〒277-0863<br>千葉県 柏市豊四季301-7',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%A4%A7%E5%92%8C%E7%94%B0%E3%83%95%E3%82%A1%E3%83%9F%E3%83%AA%E3%83%BC%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.8608103,139.9436854,17z/data=!3m1!4b1!4m6!3m5!1s0x60189c8fdcf95be5:0x9682c38d00756f68!8m2!3d35.8608061!4d139.9485563!16s%2Fg%2F1thk8rwm?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.oowada-familyclinic.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "東京都")
        +c_block-hospital-item([
          {
            title: "医療法人社団中央みなと会 中央みなとクリニック",
            labels: ["N-NOSE"],
            address: '〒104-0044<br>東京都 中央区明石町8番1号 聖路加タワー2階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E4%B8%AD%E5%A4%AE%E3%81%BF%E3%81%AA%E3%81%A8%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6670415,139.7760973,17z/data=!3m2!4b1!5s0x60188964728a034f:0x366b9a5be6d4c614!4m6!3m5!1s0x60188964129bce25:0x67408330c4c25f33!8m2!3d35.6670372!4d139.7786722!16s%2Fg%2F1tdr38z8?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://minatokai.jp/chuo_minato/index.html",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "公益財団法人ライフ・エクステンション研究所付属 永寿総合健診・予防医療センター",
            labels: ["N-NOSE"],
            address: '〒110-0015<br>東京都 台東区東上野3-3-3 プラチナビル2階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%B0%B8%E5%AF%BF%E7%B7%8F%E5%90%88%E5%81%A5%E8%A8%BA%E3%83%BB%E4%BA%88%E9%98%B2%E5%8C%BB%E7%99%82%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@35.7098841,139.7784257,17z/data=!3m1!5s0x6018b197ac2ced1b:0x9cdf9e569f804dec!4m6!3m5!1s0x60188ffb4c50030f:0x64caa22137ee718c!8m2!3d35.7098798!4d139.7810006!16s%2Fg%2F11hhjymqnl?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.eijuhp.com/kenshin/index.html",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "かわぐち内科・内視鏡クリニック",
            labels: ["N-NOSE"],
            address: '〒111-0032<br>東京都 台東区浅草1丁目35-9',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E3%81%8B%E3%82%8F%E3%81%90%E3%81%A1%E5%86%85%E7%A7%91%E3%83%BB%E5%86%85%E8%A6%96%E9%8F%A1%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF+%E6%B5%85%E8%8D%89/@35.7125767,139.7645627,13z/data=!4m7!3m6!1s0x60188ec14dad9a87:0xb5d0affa2a1af673!8m2!3d35.7125857!4d139.797655!15sChLjgYvjgo_jgZDjgaHlhoXnp5GSAQlpbnRlcm5pc3TgAQA!16s%2Fg%2F1thlzfp_?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://asakusa-naika.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "レディース健診クリニック Bene浅草",
            labels: ["N-NOSE"],
            address: '〒111-0033<br>東京都 台東区花川戸1-4-1 浅草駅ビルEKIMISE 7階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/Bene%E6%B5%85%E8%8D%89%E3%83%AC%E3%83%87%E3%82%A3%E3%83%BC%E3%82%B9%E5%81%A5%E8%A8%BA%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.7120345,139.7939808,17z/data=!3m1!5s0x60188ec6a649ac99:0xb2cdc07167fb8c94!4m7!3m6!1s0x60188f46743a457b:0xa07112d83a7cf838!8m2!3d35.7120345!4d139.7984869!15sCgpCZW5l5rWF6I2JkgESbWF0ZXJuaXR5X2hvc3BpdGFs4AEA!16s%2Fg%2F11t6j1lphf?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://bene-asakusa.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団東京ハート会 一之江ハートクリニック",
            labels: ["N-NOSE"],
            address: '〒132-0024<br>東京都 江戸川区一之江7丁目37番17号 ラナイタウンルネッサンス ハイライズアネックス1F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E4%B8%80%E4%B9%8B%E6%B1%9F%E3%83%8F%E3%83%BC%E3%83%88%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6862332,139.8786722,17z/data=!4m7!3m6!1s0x6018870c28731e7b:0x9535f3a8ad53b6cd!8m2!3d35.6862289!4d139.8812471!15sCkjljLvnmYLms5XkurrnpL7lm6PmnbHkuqzjg4_jg7zjg4jkvJrjgIDkuIDkuYvmsZ_jg4_jg7zjg4jjgq_jg6rjg4vjg4Pjgq-SAQ5tZWRpY2FsX29mZmljZeABAA!16s%2Fg%2F11s3cth2vr?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tyo-heart.jp/matsukawa/index.html",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団東京ハート会 日本橋ハートクリニック",
            labels: ["N-NOSE"],
            address: '〒103-0021<br>東京都 中央区日本橋本石町3丁目2番12号 社労士ビル2F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%83%8F%E3%83%BC%E3%83%88%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6873343,139.7683131,17z/data=!3m2!4b1!5s0x60188bff8537bc4f:0x61ce104dafcbdd3b!4m6!3m5!1s0x60188bff8512a141:0x580630f56b9a711b!8m2!3d35.68733!4d139.770888!16s%2Fg%2F12vrxtcd9?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tyo-heart.jp/nihonbashi/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人 翠宏会 たじま医院",
            labels: ["N-NOSE"],
            address: '〒171-0014<br>東京都 豊島区池袋2-61-5',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%9F%E3%81%98%E3%81%BE%E5%8C%BB%E9%99%A2/@35.7348034,139.7071712,17z/data=!3m2!4b1!5s0x60188d5fb18cd54b:0xc8da02eb1eb7b2d0!4m6!3m5!1s0x60188d5fb18b8f39:0xbe6d2fb129367f76!8m2!3d35.7347991!4d139.7097461!16s%2Fg%2F1vgw8mfj?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://tajima-clinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "新宿トミヒサクロス クリニック",
            labels: ["N-NOSE"],
            address: '〒162-0067<br>東京都 新宿区富久町17番2号 トミヒサクロス1F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%96%B0%E5%AE%BF%E3%83%88%E3%83%9F%E3%83%92%E3%82%B5%E3%82%AF%E3%83%AD%E3%82%B9+%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6925027,139.7106549,17z/data=!3m1!4b1!4m6!3m5!1s0x60188ce7dc18f6ab:0x21ec9521ba61940f!8m2!3d35.6924984!4d139.7132298!16s%2Fg%2F11bzrj9k9m?hl=ja&entry=tts",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tomihisa-clinic.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団景星会 大塚北口健康管理クリニック",
            labels: ["N-NOSE"],
            address: '〒170-0004<br>東京都 豊島区北大塚2丁目6-12 KSK大塚医療ビル 3階～4階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%A4%A7%E5%A1%9A%E5%8C%97%E5%8F%A3%E5%81%A5%E5%BA%B7%E7%AE%A1%E7%90%86%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.7324108,139.7254369,17z/data=!3m2!4b1!5s0x60188d76de7d6ccb:0x257c2eadad72aef9!4m6!3m5!1s0x60188d90d8b1eadb:0xcc4952aae059500c!8m2!3d35.7324065!4d139.7280172!16s%2Fg%2F11mvsg9f83?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://ootsuka-health.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団康生会 シーエスケー・クリニック",
            labels: ["N-NOSE"],
            address: '〒105-0004<br>東京都 港区新橋1-13-12堤ビル4F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E3%82%B7%E3%83%BC%E3%82%A8%E3%82%B9%E3%82%B1%E3%83%BC%E3%83%BB%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6679097,139.7556158,17z/data=!3m2!4b1!5s0x60188be95e9f3333:0xd49ad5438c3edbd!4m5!3m4!1s0x60188be95c26ef99:0x80c51483634a8eab!8m2!3d35.6679054!4d139.7578045?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.cskclinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団創知会 メモリークリニックお茶の水",
            labels: ["N-NOSE"],
            address: '〒113-0034<br>東京都 文京区湯島1-5-34 東京医科歯科大学医科同窓会 お茶の水医学会館4階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E3%83%A1%E3%83%A2%E3%83%AA%E3%83%BC%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF%E3%81%8A%E8%8C%B6%E3%81%AE%E6%B0%B4/@35.7026863,139.7616093,17z/data=!3m2!4b1!5s0x60188c18130277c1:0x28ea90bbbd0b8cab!4m5!3m4!1s0x60188c18126a2a5f:0xc873d8941c39359!8m2!3d35.702682!4d139.763798?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://memory-cl.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団大坪会 東都文京病院",
            labels: ["N-NOSE"],
            address: '〒113-0034<br>東京都 文京区湯島3丁目5番7号',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%9D%B1%E9%83%BD%E6%96%87%E4%BA%AC%E7%97%85%E9%99%A2/@35.7041917,139.7652064,17z/data=!3m1!4b1!4m6!3m5!1s0x1526bb7093252ffb:0x4779945c3b170e02!8m2!3d35.7041874!4d139.7677813!16s%2Fg%2F11bbyfhzw_?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tohtobunkyo-hp.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団盛心会 タカラクリニック",
            labels: ["N-NOSE"],
            address: '〒141-0022<br>東京都 品川区東五反田2-3-2 タイセイビル9階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%80%92141-0022+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%93%81%E5%B7%9D%E5%8C%BA%E6%9D%B1%E4%BA%94%E5%8F%8D%E7%94%B0%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%92/@35.6255209,139.723766,17z/data=!3m1!4b1!4m5!3m4!1s0x60188afa3bd0f3e9:0xc8ee4586709571e7!8m2!3d35.6255209!4d139.7259547?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.takara-clinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団朋翔会 弥生ファーストクリニック",
            labels: ["N-NOSE"],
            address: '〒164-0012<br>東京都 中野区本町2丁目46番1号 中野坂上サンブライトツイン3階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%BC%A5%E7%94%9F%E3%83%95%E3%82%A1%E3%83%BC%E3%82%B9%E3%83%88%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6955806,139.6813097,17z/data=!4m5!3m4!1s0x0:0xd3440f8423143f64!8m2!3d35.6967049!4d139.6821043?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://yayoi-clinic.org/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人彩新会 テレコムセンタービルクリニック",
            labels: ["N-NOSE"],
            address: '〒135-8070<br>東京都 江東区青海2-5-10 テレコムセンタービルWEST 3階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%83%86%E3%83%AC%E3%82%B3%E3%83%A0%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%93%E3%83%AB%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF+%E5%8F%B0%E5%A0%B4%E5%81%A5%E5%BA%B7%E7%AE%A1%E7%90%86%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@35.6170955,139.7767699,17z/data=!3m2!4b1!5s0x60186207740afc99:0x4ceb5b05f0931de4!4m6!3m5!1s0x6018620776b0d28b:0x64538f5dbe720f0!8m2!3d35.6170912!4d139.7793448!16s%2Fg%2F1tfk4dnx?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.saishinkai.com/tcc/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団知慎会 JTKクリニック",
            labels: ["N-NOSE"],
            address: '〒102-0083<br>東京都 千代田区麹町4-1-5 麴町志村ビル2階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA%E7%A4%BE%E5%9B%A3+%E7%9F%A5%E6%85%8E%E4%BC%9AJTK%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6836105,139.7345654,17z/data=!3m2!4b1!5s0x60188c63542a51fd:0xdcd3d19144be3d!4m6!3m5!1s0x60188d9ee55cb4dd:0x11b133b7888bf4b2!8m2!3d35.6836062!4d139.7371457!16s%2Fg%2F11h18ywhfg?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.jtkclinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団けいせい会 東京北部病院",
            labels: ["N-NOSE"],
            address: '〒123-0872<br>東京都 足立区江北6-24-6',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%9D%B1%E4%BA%AC%E5%8C%97%E9%83%A8%E7%97%85%E9%99%A2/@35.7826589,139.762876,17z/data=!3m1!4b1!4m6!3m5!1s0x601892247cacea6b:0xdd63eb1029449b86!8m2!3d35.7826546!4d139.7654509!16s%2Fg%2F1tfddgkz?hl=ja&entry=tts",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tokyo-hokubu.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団斗南堂 八王子クリニック新町",
            labels: ["N-NOSE"],
            address: '〒192-0065<br>東京都 八王子市新町7-10 八王子クリニック新町ビル1階・2階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%85%AB%E7%8E%8B%E5%AD%90%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF%E6%96%B0%E7%94%BA+%E4%BA%BA%E9%96%93%E3%83%89%E3%83%83%E3%82%AF/@35.6628417,139.3384232,17z/data=!3m2!4b1!5s0x60191e75cde6cda3:0xed644f2d1571874e!4m5!3m4!1s0x60191e77f5f89e77:0x1c74cee498d982ce!8m2!3d35.6628374!4d139.3406119?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://hachicli.or.jp/dock/",
                icon: '&#xe89e'
              }
            ]
          },
        ])
      if (data.title == "神奈川県")
        +c_block-hospital-item([
          {
            title: "医療法人彩新会 KSPクリニック溝の口健康管理センター",
            labels: ["N-NOSE"],
            address: '〒213-0012<br>神奈川県 川崎市高津区坂戸3-2-1 かながわサイエンスパークビル KSP西 5F 503号室',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/KSP%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.5947884,139.6182495,17z/data=!3m2!4b1!5s0x6018f4323fc4f339:0xe36545e091807484!4m6!3m5!1s0x6018f432172049a3:0xba0474534e14264d!8m2!3d35.5947841!4d139.6208244!16s%2Fg%2F1hc604gb9?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.saishinkai.com/ksp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "一般社団法人日本健康倶楽部 横浜支部",
            labels: ["N-NOSE"],
            address: '〒246-0031<br>神奈川県 横浜市瀬谷区瀬谷4-5-31 シルバープラザビル2階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%EF%BC%88%E4%B8%80%E7%A4%BE%EF%BC%89%E6%97%A5%E6%9C%AC%E5%81%A5%E5%BA%B7%E5%80%B6%E6%A5%BD%E9%83%A8+%E6%A8%AA%E6%B5%9C%E6%94%AF%E9%83%A8%E8%A8%BA%E7%99%82%E6%89%80/@35.4700129,139.4802547,17z/data=!3m2!4b1!5s0x601856521994ce49:0x80db87ee57b437dd!4m6!3m5!1s0x601856521e6b8535:0x5144dc366e146d0d!8m2!3d35.4700086!4d139.4828296!16s%2Fg%2F1wfcp32t?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://kenkousindan.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "中野島北口コガワクリニック",
            labels: ["N-NOSE"],
            address: '〒214-0012<br>神奈川県 川崎市多摩区中野島6-26-2 F＆Fハイム2F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E4%B8%AD%E9%87%8E%E5%B3%B6%E5%8C%97%E5%8F%A3%E3%82%B3%E3%82%AC%E3%83%AF%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.6305166,139.5486939,17z/data=!3m2!4b1!5s0x6018f0f3a21b4abd:0xbad3091c57667f36!4m6!3m5!1s0x6018f0f3a20f7d33:0xaa6e0f4d2ec58ac6!8m2!3d35.6305123!4d139.5512688!16s%2Fg%2F1tg50g86?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.kogawaclinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "株式会社メディカルラボ",
            labels: ["N-NOSE"],
            address: '〒252-0253<br>神奈川県 相模原市中央区南橋本2-13-18',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%EF%BC%88%E6%A0%AA%EF%BC%89%E3%83%A1%E3%83%87%E3%82%A3%E3%82%AB%E3%83%AB%E3%83%A9%E3%83%9C/@35.5830963,139.3509323,15z/data=!4m6!3m5!1s0x60191d3470f4726b:0x7cacc4f8daba74bb!8m2!3d35.5830963!4d139.3509323!16s%2Fg%2F1tj_58w9?entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.medicallabo.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "あおばの森内科クリニック",
            labels: ["N-NOSE"],
            address: '〒227-0045<br>神奈川県 横浜市青葉区若草台17-1-2F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E3%81%82%E3%81%8A%E3%81%B0%E3%81%AE%E6%A3%AE%E5%86%85%E7%A7%91%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.5532423,139.5035508,17z/data=!3m2!4b1!5s0x6018f9b785977545:0xf1364f6e46f40693!4m5!3m4!1s0x6018f95f10b522d5:0x626712aaa23b0217!8m2!3d35.553238!4d139.5057395?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://yokohama-aobadai-naika.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団たけのこ会 たけのこメディカルパーク",
            labels: ["N-NOSE"],
            address: '〒227-0062<br>神奈川県 横浜市青葉区青葉台2-8-20 パルテ青葉台2階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%9F%E3%81%91%E3%81%AE%E3%81%93%E3%83%A1%E3%83%87%E3%82%A3%E3%82%AB%E3%83%AB%E3%83%91%E3%83%BC%E3%82%AF/@35.5435491,139.5128854,17z/data=!3m1!5s0x6018f8318223858f:0xf60d94db105a524f!4m7!3m6!1s0x6018f9ac1fa469c1:0x593ae4e8b4e0ea83!8m2!3d35.543604!4d139.5150349!15sCkbljLvnmYLms5XkurrnpL7lm6PjgZ_jgZHjga7jgZPkvJog44Gf44GR44Gu44GT44Oh44OH44Kj44Kr44Or44OR44O844KvWk4iTOWMu-eZgiDms5Xkurog56S-5ZujIOOBn-OBkeOBruOBkyDkvJog44Gf44GR44Gu44GTIOODoeODh-OCo-OCq-ODqyDjg5Hjg7zjgq-SAQ5tZWRpY2FsX2NsaW5pY5oBJENoZERTVWhOTUc5blMwVkpRMEZuU1VSNGRGbFhWbkJSUlJBQuABAA!16s%2Fg%2F11t3bs_zhp?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.takenoko-medicalpark.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人同愛会 小澤病院",
            labels: ["N-NOSE"],
            address: '〒250-0012<br>神奈川県 小田原市本町1丁目1番17号',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%B0%8F%E6%BE%A4%E7%97%85%E9%99%A2/@35.251816,139.156424,17z/data=!3m1!4b1!4m5!3m4!1s0x6019a4fc19b64d9d:0xe65ff4f3723edc74!8m2!3d35.251816!4d139.158618?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.ozawa-hospital.com/",
                icon: '&#xe89e'
              }
            ]
          },
        ])
      if (data.title == "滋賀県")
        +c_block-hospital-item([
          {
            title: "医療法人くまだキッズ・ファミリークリニック",
            labels: ["N-NOSE"],
            address: '〒524-0045<br>滋賀県 守山市金森町454番4',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%8F%E3%81%BE%E3%81%A0%E3%82%AD%E3%83%83%E3%82%BA%E3%83%BB%E3%83%95%E3%82%A1%E3%83%9F%E3%83%AA%E3%83%BC%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@35.0620173,135.9769938,17z/data=!3m1!4b1!4m5!3m4!1s0x600173d4c52b10cf:0x98b6146d6f6dd296!8m2!3d35.0620129!4d135.9791825?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.kumada-kidsfamily.com/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "大阪府")
        +c_block-hospital-item([
          {
            title: "船員保険 大阪健康管理センター",
            labels: ["N-NOSE"],
            address: '〒552-0021<br>大阪府 大阪市港区築港1丁目8番22号',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://sgoogle.co.jp/maps/place/%E3%80%92552-0021+%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%B8%AF%E5%8C%BA%E7%AF%89%E6%B8%AF%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%98%E2%88%92%EF%BC%92%EF%BC%92/@34.6538265,135.4329284,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e88a08759ee7:0x6ded6d01baf27343!8m2!3d34.6538265!4d135.4351171?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.sempos.or.jp/kk/osaka/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人永紘会 足立内科クリニック",
            labels: ["N-NOSE"],
            address: '〒535-0021<br>大阪府 大阪市旭区清水3丁目1-14',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%B6%B3%E7%AB%8B%E5%86%85%E7%A7%91%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.7242778,135.5532933,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e10daee89729:0xfd23fba3974ed5b!8m2!3d34.7242821!4d135.5554822?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.adachi-naikaclinic.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人敬節会 西中島クリニック",
            labels: ["N-NOSE"],
            address: '〒532-0011<br>大阪府 大阪市淀川区西中島3-2-11',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%A5%BF%E4%B8%AD%E5%B3%B6%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.725878,135.4990873,17z/data=!4m5!3m4!1s0x6000e42470a13821:0xa3441efdc0c5c8e4!8m2!3d34.725878!4d135.501276?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.keisetsukai-group.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "社会医療法人三宝会 南港病院",
            labels: ["N-NOSE"],
            address: '〒559-0011<br>大阪府 大阪市住之江区北加賀屋2-11-15',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%8D%97%E6%B8%AF%E7%97%85%E9%99%A2/@34.6214084,135.4738831,17z/data=!3m1!4b1!4m6!3m5!1s0x6000dd6d0ed65387:0xf3d88e67ff9ee206!8m2!3d34.621404!4d135.476458!16s%2Fg%2F1th637pj?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.nanko-hp.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人愛成会 愛成クリニック",
            labels: ["N-NOSE"],
            address: '〒573-0048<br>大阪府 枚方市山之上西町32-15',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E3%80%92573-0048+%E5%A4%A7%E9%98%AA%E5%BA%9C%E6%9E%9A%E6%96%B9%E5%B8%82%E5%B1%B1%E4%B9%8B%E4%B8%8A%E8%A5%BF%E7%94%BA%EF%BC%93%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%95+%E6%84%9B%E6%88%90%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.8020197,135.6428606,17z/data=!3m1!4b1!4m5!3m4!1s0x60011c364fc295b9:0x1da79e57dc89cdd3!8m2!3d34.8020153!4d135.6450493?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://aisei-c.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人愛幸会 くまだ内科 小児科クリニック",
            labels: ["N-NOSE"],
            address: '〒553-0004<br>大阪府 福島区玉川4-6-11',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%8F%E3%81%BE%E3%81%A0%E5%86%85%E7%A7%91%E3%83%BB%E5%B0%8F%E5%85%90%E7%A7%91%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.6901809,135.4756703,17z/data=!3m1!4b1!4m5!3m4!1s0x6000e642b5959eef:0x99c24632a99f001f!8m2!3d34.690128!4d135.4778537?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://aikoukai-group.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人敬節会 敬節クリニック",
            labels: ["N-NOSE"],
            address: '〒573-0032<br>大阪府 枚方市岡東町12-3-402',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%95%AC%E7%AF%80%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.81664,135.647602,17z/data=!3m1!4b1!4m5!3m4!1s0x60011c5afa816e89:0xdb2cb3c2278ea0eb!8m2!3d34.81664!4d135.6497907?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.keisetsukai-group.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人雄徳会 たつみクリニック",
            labels: ["N-NOSE"],
            address: '〒592-8334<br>大阪府 堺市西区浜寺石津町中1-3-9',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%9F%E3%81%A4%E3%81%BF%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.5608068,135.453776,17z/data=!4m7!3m6!1s0x6000dca8c0e5763b:0x1b69f051776c110c!8m2!3d34.5608068!4d135.4578694!15sCi7ljLvnmYLms5Xkurrpm4TlvrPkvJog44Gf44Gk44G_44Kv44Oq44OL44OD44KvkgEObWVkaWNhbF9jbGluaWPgAQA!16s%2Fg%2F11b6hx0sb2?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.tatsumiclinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
        ])
      if (data.title == "兵庫県")
        +c_block-hospital-item([
          {
            title: "医療法人若葉会 六甲病院",
            labels: ["N-NOSE"],
            address: '〒657-0022<br>兵庫県 神戸市灘区土山町5番1号',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%85%AD%E7%94%B2%E7%97%85%E9%99%A2/@34.7252954,135.2396977,17z/data=!3m1!4b1!4m6!3m5!1s0x60008c1545c7e76d:0x8ff71bc482300aba!8m2!3d34.725291!4d135.2422726!16s%2Fg%2F1vzqs3ht?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://rokkouhp.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "木内女性クリニック",
            labels: ["N-NOSE"],
            address: '〒663-8204<br>兵庫県 西宮市高松町4-8 プレラにしのみや 3F',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%9C%A8%E5%86%85%E5%A5%B3%E6%80%A7%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.7438701,135.354784,17z/data=!3m2!4b1!5s0x6000f23fa2ee660b:0xfe239e2975fb57fc!4m5!3m4!1s0x6000f23fa25fdf87:0x6823a1dbf4584799!8m2!3d34.7438657!4d135.3569727?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://kiuchi-cl.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団清和会笹生病院",
            labels: ["N-NOSE"],
            address: '〒662-0964<br>兵庫県 西宮市弓場町5-37',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%80%92662-0964+%E5%85%B5%E5%BA%AB%E7%9C%8C%E8%A5%BF%E5%AE%AE%E5%B8%82%E5%BC%93%E5%A0%B4%E7%94%BA%EF%BC%95%E2%88%92%EF%BC%93%EF%BC%97/@34.7347013,135.3207379,17z/data=!3m1!4b1!4m5!3m4!1s0x6000f2e8ad097665:0x5853d3306b9569a8!8m2!3d34.7347013!4d135.3229319?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.saso.or.jp/kenshin/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "芦屋セントマリア病院",
            labels: ["N-NOSE"],
            address: '〒659-0012<br>兵庫県 芦屋市朝日ヶ丘町8-22',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%8A%A6%E5%B1%8B%E3%82%BB%E3%83%B3%E3%83%88%E3%83%9E%E3%83%AA%E3%82%A2%E7%97%85%E9%99%A2/@34.74083,135.3025101,16z/data=!4m6!3m5!1s0x6000f2d82b4925a5:0xccde14b50bf0a283!8m2!3d34.746318!4d135.3047365!15sCh7oiqblsYvjgrvjg7Pjg4jjg57jg6rjgqLnl4XpmaKSARBnZW5lcmFsX2hvc3BpdGFs?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.ashiya-hp-maria.jp/",
                icon: '&#xe89e'
              }
            ]
          }

        ])
      if (data.title == "和歌山県")
        +c_block-hospital-item([
          {
            title: "医療法人千徳会 桜ヶ丘病院",
            labels: ["N-NOSE"],
            address: '〒649-0304<br>和歌山県 有田市箕島904',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%A1%9C%E3%83%B6%E4%B8%98%E7%97%85%E9%99%A2/@34.0855911,135.1234975,18z/data=!4m6!3m5!1s0x6007505577ee3d27:0x68aebbe9bd2ccae8!8m2!3d34.0856927!4d135.1235341!16s%2Fg%2F11b7xxcksy?hl=ja&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://www.cherry-hill.or.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "岡山県")
        +c_block-hospital-item([
          {
            title: "みずしま検診クリニック",
            labels: ["N-NOSE"],
            address: '〒712-8066<br>岡山県 倉敷市水島高砂町5-15',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%81%BF%E3%81%9A%E3%81%97%E3%81%BE%E6%A4%9C%E8%A8%BA%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.5318308,133.7361089,17z/data=!3m1!4b1!4m5!3m4!1s0x355159a6b571f46b:0xf76c528be2447baa!8m2!3d34.5318257!4d133.7383001?hl=ja&coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://kenshin.life/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "広島県")
        +c_block-hospital-item([
          {
            title: "一般財団法人広島県集団検診協会 メディックス広島健診センター",
            labels: ["N-NOSE"],
            address: '〒730-0051<br>広島県 広島市中区大手町1丁目5番17号',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E4%B8%80%E8%88%AC%E8%B2%A1%E5%9B%A3%E6%B3%95%E4%BA%BA%E5%BA%83%E5%B3%B6%E7%9C%8C%E9%9B%86%E5%9B%A3%E6%A4%9C%E8%A8%BA%E5%8D%94%E4%BC%9A%EF%BC%88%E3%83%A1%E3%83%87%E3%82%A3%E3%83%83%E3%82%AF%E3%82%B9%E5%BA%83%E5%B3%B6%E5%81%A5%E8%A8%BA%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC%EF%BC%89/@34.3944164,132.4546256,21z/data=!4m6!3m5!1s0x355aa20cfdf80a87:0xa038dfa168dae4eb!8m2!3d34.394416!4d132.4548924!16s%2Fg%2F1tqt7hw5?entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.mdx-h.or.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "徳島県")
        +c_block-hospital-item([
          {
            title: "医療法人医仁会 徳島検診クリニック",
            labels: ["N-NOSE"],
            address: '〒770-0005<br>徳島県 徳島市南矢三町1丁目7-58',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%BE%B3%E5%B3%B6%E6%A4%9C%E8%A8%BA%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.0826101,134.5313829,17z/data=!4m6!3m5!1s0x35537294f67efa95:0x2843746922bd6a3f!8m2!3d34.0826057!4d134.5335716!16s%2Fg%2F1tg5xfyv?hl=ja&coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://tokushima-kenshin.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人明和会 たまき青空病院",
            labels: ["N-NOSE"],
            address: '〒779-3125<br>徳島県 徳島市国府町早淵字北カシヤ56番地1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E3%80%92779-3125+%E5%BE%B3%E5%B3%B6%E7%9C%8C%E5%BE%B3%E5%B3%B6%E5%B8%82%E5%9B%BD%E5%BA%9C%E7%94%BA%E6%97%A9%E6%B7%B5%E5%8C%97%E3%82%AB%E3%82%B7%E3%83%A4%EF%BC%95%EF%BC%96-%EF%BC%91+%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA+%E6%98%8E%E5%92%8C%E4%BC%9A+%E3%81%9F%E3%81%BE%E3%81%8D%E9%9D%92%E7%A9%BA%E7%97%85%E9%99%A2/@34.0724052,134.4830517,17z/data=!3m1!4b1!4m6!3m5!1s0x35530cbae27261f9:0x7196c4b58ea24026!8m2!3d34.0724008!4d134.485632!16s%2Fg%2F12hmflh6h?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://tamaki-aozora.ne.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人明和会 藍住 たまき青空クリニック",
            labels: ["N-NOSE"],
            address: '〒771-1265<br>徳島県 板野郡藍住町住吉字千鳥ヶ浜110-5',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%97%8D%E4%BD%8F+%E3%81%9F%E3%81%BE%E3%81%8D%E9%9D%92%E7%A9%BA%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.1203733,134.4978943,17z/data=!3m1!4b1!4m6!3m5!1s0x355373ad66fe94c9:0x8a708ff566dfa14e!8m2!3d34.1203689!4d134.5025024!16s%2Fg%2F1tdvxqms?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://tamaki-aozora.ne.jp/aizumi",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "香川県")
        +c_block-hospital-item([
          {
            title: "医療法人社団豊永会 丸亀町クリニック",
            labels: ["N-NOSE"],
            address: '〒760-0029<br>香川県 高松市丸亀町1-1 丸亀町壱番街西館3階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E4%B8%B8%E4%BA%80%E7%94%BA%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@34.3459837,134.0477251,17z/data=!3m2!4b1!5s0x3553eb859e2de8fb:0xc7c8c373f2f8626e!4m6!3m5!1s0x3553eb5c43c7c817:0x2fd5eb4d9931b0d5!8m2!3d34.3459793!4d134.0503!16s%2Fg%2F11fjschptd?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.marucl.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "高知県")
        +c_block-hospital-item([
          {
            title: "医療法人グリーンハウス クリニックグリーンハウス",
            labels: ["N-NOSE"],
            address: '〒780-0901<br>高知県 高知市上町1丁目7-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF+%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E3%83%8F%E3%82%A6%E3%82%B9/@33.557157,133.5241897,17z/data=!3m1!4b1!4m6!3m5!1s0x354e1921ed7388a7:0xda0a3b6484b3610a!8m2!3d33.5571525!4d133.5263784!16s%2Fg%2F1trxbhsy?hl=ja&coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.clinic-greenhouse.jp/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "福岡県")
        +c_block-hospital-item([
          {
            title: "医療法人相生会 福岡みらい病院 健診センター",
            labels: ["N-NOSE"],
            address: '〒813-0017<br>福岡県 福岡市東区香椎照葉3丁目5-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA%E7%9B%B8%E7%94%9F%E4%BC%9A+%E7%A6%8F%E5%B2%A1%E3%81%BF%E3%82%89%E3%81%84%E7%97%85%E9%99%A2/@33.650851,130.4128643,14z/data=!4m6!3m5!1s0x35418fd35fb60f2f:0xe8cb94f7b002e13a!8m2!3d33.6607071!4d130.4182033!16s%2Fg%2F1tlw6vrs?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.fukuoka-mirai.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人 貝塚病院",
            labels: ["N-NOSE"],
            address: '〒812-0053<br>福岡県 福岡市東区箱崎7丁目7-27',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%B2%9D%E5%A1%9A%E7%97%85%E9%99%A2/@33.6358232,130.424901,15z/data=!4m5!3m4!1s0x0:0x7073e071e7febd51!8m2!3d33.6358232!4d130.424901?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://kaizuka-hosp.or.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人 親愛 天神クリニック",
            labels: ["N-NOSE"],
            address: '〒810-0001<br>福岡県 福岡市天神2-12-1 天神ビル3階',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA%E8%A6%AA%E6%84%9B+%E5%A4%A9%E7%A5%9E%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@33.5917567,130.3982833,15z/data=!4m5!3m4!1s0x0:0x76dd5ba282bad1b7!8m2!3d33.5917567!4d130.3982833?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tenjin-c.jp/tenjin/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人 親愛 ステーションクリニック",
            labels: ["N-NOSE"],
            address: '〒812-0012<br>福岡県 福岡市博多区博多駅中央街1-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA%E8%A6%AA%E6%84%9B+%E3%82%B9%E3%83%86%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@33.5908784,130.4216258,15z/data=!4m5!3m4!1s0x0:0x81ff2fe48552ebbf!8m2!3d33.5908784!4d130.4216258?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tenjin-c.jp/station/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人光洋会 赤間病院",
            labels: ["N-NOSE"],
            address: '〒811-4147<br>福岡県 宗像市石丸1丁目6-7',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E8%B5%A4%E9%96%93%E7%97%85%E9%99%A2/@33.8051491,130.5926951,17z/data=!3m2!4b1!5s0x35422d00b0859fcb:0x528076e3952ccf67!4m5!3m4!1s0x35422d00b0460211:0xdb809c4ec67f5c3b!8m2!3d33.8051491!4d130.5948838?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.akama-hp.or.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人若葉会 九州鉄道記念病院",
            labels: ["N-NOSE"],
            address: '〒800-0031<br>福岡県 北九州市門司区高田2丁目1-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E4%B9%9D%E5%B7%9E%E9%89%84%E9%81%93%E8%A8%98%E5%BF%B5%E7%97%85%E9%99%A2%EF%BC%88%E5%8C%BB%E7%99%82%E6%B3%95%E4%BA%BA+%E8%8B%A5%E8%91%89%E4%BC%9A%EF%BC%89/@33.9000682,130.9345671,17z/data=!3m1!4b1!4m5!3m4!1s0x3543be470e06a06d:0x893a2a9e9644478d!8m2!3d33.9000682!4d130.9367558?coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.krm-hospital.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人俊英会 有吉サテライトクリニック 健診センター",
            labels: ["N-NOSE"],
            address: '〒806-0027<br>福岡県 北九州市八幡西区菅原町2-13',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%9C%89%E5%90%89%E3%82%B5%E3%83%86%E3%83%A9%E3%82%A4%E3%83%88%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF+%E5%81%A5%E8%A8%BA%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@33.8621421,130.760831,17z/data=!3m2!4b1!5s0x3543c8dc4c999b3f:0xcba905d8692aecd6!4m6!3m5!1s0x3543c8dc4b7cd865:0xf268bcf420de16a9!8m2!3d33.8621377!4d130.7634113!16s%2Fg%2F11bccm315p?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.ariyoshi-satelliteclinic.com/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "医療法人社団 正信会 水戸病院",
            labels: ["N-NOSE"],
            address: '〒811-2298<br>福岡県 粕屋郡須恵町大字旅石115-483',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%AD%A3%E4%BF%A1%E4%BC%9A%E6%B0%B4%E6%88%B8%E7%97%85%E9%99%A2/@33.5841605,130.4943878,17z/data=!3m1!4b1!4m5!3m4!1s0x35418536d006e0d1:0x7f64614a5aab66a3!8m2!3d33.5841561!4d130.4965818?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://s-mito.org/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "社会医療法人 天神会 新古賀クリニック",
            labels: ["N-NOSE"],
            address: '〒830-8522<br>福岡県 久留米市天神町106-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%96%B0%E5%8F%A4%E8%B3%80%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@33.3112497,130.5183774,17z/data=!3m1!4b1!4m6!3m5!1s0x3541a451855bc347:0xcc8c89cc60144b7b!8m2!3d33.3112452!4d130.5209523!16s%2Fg%2F1vm7873j?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tenjinkai.or.jp/top/kogaclinic/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "社会医療法人 天神会 古賀病院21 PET画像診断センター",
            labels: ["N-NOSE"],
            address: '〒839-0801<br>福岡県 久留米市宮ノ陣3丁目3-8',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E5%8F%A4%E8%B3%80%E7%97%85%E9%99%A2%EF%BC%92%EF%BC%91%EF%BC%B0%EF%BC%A5%EF%BC%B4%E4%BA%88%E7%B4%84%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@33.3369738,130.533362,15.34z/data=!3m1!5s0x3541a40a16d0e227:0xa024e57abdf19840!4m7!3m6!1s0x3541a40a111a19a7:0xe13077a9211c7a85!8m2!3d33.3363069!4d130.5372888!15sCkfnpL7kvJrljLvnmYLms5Xkurog5aSp56We5LyaIOWPpOizgOeXhemZojIxIFBFVOeUu-WDj-iouuaWreOCu-ODs-OCv-ODvJIBCGhvc3BpdGFs4AEA!16s%2Fg%2F1xb2bbpl?hl=ja&entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.tenjinkai.or.jp/koga21/21_pet.html",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "大分県")
        +c_block-hospital-item([
          {
            title: "社会医療法人 長門莫記念会 長門記念病院",
            labels: ["N-NOSE"],
            address: '〒876-0835<br>大分県 佐伯市鶴岡町1丁目11番59号',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E9%95%B7%E9%96%80%E8%A8%98%E5%BF%B5%E7%97%85%E9%99%A2/@32.9593269,131.8794612,17z/data=!4m7!3m6!1s0x3546899d0936495d:0xec2f12c05f54064a!8m2!3d32.9594888!4d131.882268!15sCjnnpL7kvJrljLvnmYLms5XkurrplbfploDojqvoqJjlv7XkvJrjgIDplbfploDoqJjlv7Xnl4XpmaKSARBnZW5lcmFsX2hvc3BpdGFs4AEA!16s%2Fg%2F1thhh965?entry=tts&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://www.nagato.or.jp/",
                icon: '&#xe89e'
              }
            ]
          },
          {
            title: "杵築市立山香病院 健診センター",
            labels: ["N-NOSE"],
            address: '〒879-1307<br>大分県 杵築市山香町野原1612-1',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.co.jp/maps/place/%E6%9D%B5%E7%AF%89%E5%B8%82%E7%AB%8B%E5%B1%B1%E9%A6%99%E7%97%85%E9%99%A2+%E5%81%A5%E8%A8%BA%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@33.4450031,131.5061599,17z/data=!4m6!3m5!1s0x35441b696d4de821:0x1c50b7d5b6090f27!8m2!3d33.4449986!4d131.5083486!16s%2Fg%2F11j7yxsz6x?hl=ja&coh=164777&entry=tt&shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "http://yamaga-hp.jp/kenshin/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "宮崎県")
        +c_block-hospital-item([
          {
            title: "医療法人社団 明恵会 早水公園クリニック",
            labels: ["N-NOSE"],
            address: '〒885-0016<br>宮崎県 都城市早水町4503-16',
            buttons: [
              {
                text: "Mapを見る",
                link: "https://www.google.com/maps/place/%E6%97%A9%E6%B0%B4%E5%85%AC%E5%9C%92%E3%82%AF%E3%83%AA%E3%83%8B%E3%83%83%E3%82%AF/@31.737553,131.0892179,17z/data=!3m1!4b1!4m5!3m4!1s0x353f264470663af9:0xb00b6cca68f9ff08!8m2!3d31.7375411!4d131.0914088?shorturl=1",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "https://hayamizu-park-clinic.com/",
                icon: '&#xe89e'
              }
            ]
          }
        ])
      if (data.title == "")
        +c_block-hospital-item([
          {
            title: "",
            labels: ["N-NOSE"],
            address: '〒<br>',
            buttons: [
              {
                text: "Mapを見る",
                link: "",
                icon: '&#xe55f'
              },
              {
                text: "Webサイト",
                link: "",
                icon: '&#xe89e'
              }
            ]
          }
        ])


mixin c_block-hospital-item(items)
  each item in items
    +e.item
      +e.item-inner
        +e.item-content
          +e.H4.item-title !{item.title}
          if (item.labels)
            +e.item-labels
              each label in item.labels
                +e.item-label !{label}
          if (item.address)
            +e.item-address !{item.address}
        +e.item-buttons
          each button in item.buttons
            +aex(button.link).item-button
              | !{button.text}
              <span class="material-icons-outlined">!{button.icon}</span>
