//- エントリーモーダル

mixin entry-modal01()
  //- エントリーモーダルサンプル01
  #entry-modal-content-01.js-auto-entry-modal(
    style="display: none"
    data-entry-modal-id="entry-modal-01"
    data-entry-modal-src="#entry-modal-content-01"
    data-entry-modal-title="モーダルタイトル"
  )
    h2.c-heading.is-lg モーダルタイトル01
    p モーダルコンテンツ

mixin entry-modal02
  //- エントリーモーダルサンプル02
  #entry-modal-content-02.js-auto-entry-modal(
    style="display: none"
    data-entry-modal-id="entry-modal-02"
    data-entry-modal-src="#entry-modal-content-02"
    data-entry-modal-title="モーダルタイトル"
  )
    h2.c-heading.is-lg モーダルタイトル02
    p モーダルコンテンツ
