//- img タグ
mixin img(file,alt)
  -
    if ( typeof alt === "undefined" ){
    var alt = ""
    }
  img(src=config.rootpath + "/assets/images/" + file, alt!=alt)&attributes(attributes)

//- 背景画像
mixin bgimg(file)
  div(style="background-image: url(" + config.rootpath + "/assets/images/" + file + ")")&attributes(attributes)
    block

//- ページヘッダー
mixin c_page_header(image,title,subtitle)
  +bgimg(image).c-page-header
    .c-page-header__inner
      h1.c-page-header__title!= title
      .c-page-header__subtitle!= subtitle

//- ループ
//- +loop(10)
//-   p ここにループするコンテンツ
mixin loop(count)
  - var n = 0
  while n < count
    block
    - n++

//- よくあるご質問
mixin c_faqbox(title,content)
  .c-faqbox.js-accordion
    .c-faqbox__title(data-accordion-title="true")!= title
    .c-faqbox__content(data-accordion-content="true",style="display: none")
      if content
        != content
      else
        block

//- ページネーション
mixin c_pagination()
  .c-pagination
    ul
      li: +a("#").c-pagination__prev « 前へ
      li: span.is-active 1
      li: +a("#") 2
      li: +a("#") 3
      li: +a("#") 4
      li: +a("#") 5
      li: +a("#").c-pagination__next 次へ »

//- 投稿ページナビゲーション
mixin c_post_nav()
  nav.c-post-navs
    ul
      li.c-post-navs__prev: +a("#") 前の記事へ
      li.c-post-navs__next: +a("#") 次の記事へ

//- table row
mixin tr(th, td)
  tr&attributes(attributes)
    th!= th
    td!= td

mixin c_relation()
  +c.relation
    .l-container
      +e.title 関連するコンテンツ
      +e.button
        ul
          li: +a("/aboutus/") 私たちについて
          li: +a("/company/greeting/") 代表あいさつ
          li: +a("/company/profile/") 会社概要
          li: +a("/company/history/") 沿革


mixin c_offer()
  +c.offer
    .l-container
      +e.inner
        h2.c-offer__title 株式会社サンプルへの<br class="u-hidden-lg">お見積り/お問い合わせはこちら
        +e.box
          <a href="tel:123-456-7890" class="c-offer__button">
            +e.button__number
              span 123-456-7890
              small 受付：9:00〜18:00（平日）
          </a>
          +a("/contact/").c-offer__button.is-contact お問い合わせフォーム



mixin link(href)
  link(href=config.rootpath + href)&attributes(attributes)

mixin script(src)
  script(src=config.rootpath + src)&attributes(attributes)
