//- 投稿一覧を出力
//-
//- use: +p_post_item({ type: "line", image: "img-default-thumbnail.png" })
mixin p_post_item(opts)
  -
    var defaultopts = {
      type: "horizon",
      el : "a",
      image: "img-default-thumbnail.png",
      title: "この欄には記事タイトルが表示されます。この欄には記事タイトルが表示されます。",
      date: "2017.04.30",
      category: "カテゴリ名",
      author: false,
      tags: false,
      text: "リード文章がこの個所に挿入されます。リード文章がこの個所に挿入されます。リード文章がこの個所に挿入されます。",
    }
    if ( typeof opts === "undefined" ){
      opts = defaultopts
    }
    Object.assign(opts,defaultopts)

  if opts.type == "horizon"
    #{opts.el}.p-post-item(href="#",class!= "is-" + opts.type)&attributes(attributes)
      +bgimg(opts.image).p-post-item__thumbnail

      .p-post-item__content
        .p-post-item__meta
          .p-post-item__category
            .c-label= opts.category
          .p-post-item__date!= opts.date

        .p-post-item__title= opts.title
        if opts.text
          .p-post-item__text= opts.text

        .p-post-item__bottom
          if opts.tags
            .p-post-item__tags
              each tag in opts.tags
                .c-tag!= tag
          if opts.author
            .p-post-item__author!= "／" + opts.author


